<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Examples for {{ title }}!
  </h1>
</div>
<!-- <h2>Here d2js data join example </h2> -->
<!-- <app-ex1></app-ex1> -->
<!-- <h4>Example 2</h4> -->
<!-- <app-ex2></app-ex2> -->

<!-- <h2>Here SVG example </h2> -->
<!-- <app-svg-ex1></app-svg-ex1>
<app-svg-rectangle></app-svg-rectangle> -->
<!-- <app-svg-circle></app-svg-circle> -->
<!-- <app-svg-ellicpse></app-svg-ellicpse> -->
<app-bar-chart></app-bar-chart>
<app-pie-chart-new></app-pie-chart-new>
<!-- <app-line-chart></app-line-chart> -->

<!-- <app-stack-bar></app-stack-bar> -->

<!-- <app-circle-chart></app-circle-chart>
<app-pie-chart></app-pie-chart> -->
<app-stacked-bar-chart></app-stacked-bar-chart>